.body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  form {
    padding: 15px 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    text-align: center;
    width: 300px;
    justify-content: ;
  }
  
  
  .input-group{
    display: flex;
    flex-direction: column;
    text-align: left;
    
  }
  
  .h2 {
    color: #283629;
    font-size: 35px;
  }
  
  .label {
    color: #283629;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  
  input, textarea{
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #edfff0;
    border: 3px solid #f0faf1;
    color: rgb(0, 0, 0);
    outline: none;
  }
  
  input::placeholder, textarea::placeholder{
    color: #b5cab6;
  }
  
  .form-txt{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }
  
    .form-txt a {
    color: rgb(32, 29, 196);
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
  } 
  
  .btn{
    font-size: 16px;
    color: #010000;
    border: 0;
    border-radius: 25px;
    background-color: rgb(236, 236, 236);
    box-shadow: 0 0 20px #007bff(25, 254, 0, 0.4);
    cursor: pointer;
  }
  
  .btn:hover{
    background-color: rgba(82, 84, 221, 0.856);
  }
  
  @media (max-width:991px) {
    
    .body{
      padding: 30px;
    }
  
    .form{
      padding: 50px 30px;
      width: 100px;
    }
  
    .input{
      padding: 15px 10px;
    }
  }

  
.body {
  margin: 0;
  font-family: Arial, sans-serif;
}


.header {
  background-color: #4CAF50;
  color: white;
  padding: 20px;
  text-align: center;
}

.header h1 {
  margin: 0;
}


.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}


.section {
  padding: 20px;
  margin: 20px;
}